<div id="content"><br/>
	<h1>Just tell us what you need..</h1><br/>
	<div class="details">
		<h2>WHAT'S MYLMP.US ALL ABOUT?</h2>

		<p>An open marketplace where users get to tell other people around their location what they need to buy. Our goal is to help you get it for cheap. It might be a car, an old rug, an old magazine or a house. Just post an alert based on your target location e.g. your current city, and tell users around that target location what it is that you need. You don't stop at posting alerts, no, put your hustler cap on and provide what other users are looking for by contacting them or by recommending them to someone you know who has what they need. Remember all posted alerts must point to something legal. Just tell us what you need and we guarantee that someone has got it for cheap. One last thing, users don't stop at posting alerts. You can list up to ten unwanted items in your garage per month and other users can contact you with their offers or even better recommend your listings to their friends. Just tell our community what it is that you need. 
		</p>	
		<p>Feed back contact: kansspike05@gmail.com</p>
		
	</div>
</div>
	
