<h1>An Invite Only Marketplace</h1><br/>
<div id="content">
	<div class="details">
		<h2>Q1: WHAT'S MYLMP.US ALL ABOUT?</h2>

		<p>An invite only marketplace where users get to invite their own favorite suppliers online.</p>
	
		<h2>Q2: IS THERE A LIMIT TO HOW MANY SUPPLIERS I CAN INVITE?</h2>
	
		<p>HELL NO. You can invite as many suppliers as you like so long as you are able to keep up with all of them.</p>
	
		<h2>Q3: CAN OTHER USERS BUY FROM OR CONTACT MY SUPPLIER?</h2>

		<p>YES THEY CAN. All you have to do is recommend a listing listed by your supplier to other users or you can recommend your supplier to other users through their product alerts.</p>

		<h2>Q4: WHAT THE HELL ARE PRODUCT ALERTS?</h2>
		
		<p>These are items other users, or you inclusive, would like to had have been listed by their suppliers. You can recommend or contact the alerter incase you yourself happen to have what the user is looking for or else you will recommend your supplier. You are limited to ten contacts per month.</p>

		<h2>Q5: WHY DO WE RANK ALERTS ACCORDING TO RECOMMENDATIONS?</h2>

		<p>We believe this will give users a lot of bargaining power. The more recommendations a user has the more choices a user gets on whom to buy from. These recommendations are shown to the user (who posted alert) according to rank.</p>

		<h2>Q6: WHAT'S A SHARED SUPPLIER NETWORK?</h2>

		<p>Remember Q2 above, your supplier is added to that user's shared network. Every time you recommend a listing and the user you recommended the listing to responds to your recommendation, your supplier is added to that user's shared supplier network. That means that user can easily shop, recommend or browse through your recommended supplier listings.</p>

		<h2>Q7: IS MY SUPPLIER NETWORK OR SHARED NETWORK LIMITED TO LOCATION?</h2>

		<p>It's up to you since you are inviting your suppliers. But we highly recommend you stick to suppliers within your location.</p>

		<h2>Q8: HOW DO I PURCHASE FROM MY SUPPLIER?</h2>

		<p>We are located in Uganda and unfortunately we don't have PayPal, Recurly, WePay, uh and uh! You get what I am saying. That's why we encourage you to invite only suppliers within your location and suppliers you do know. We hope to over come this in the near future if this site picks up. For suppliers the site is free to use at the moment. If you hope to help just contact us below.</p>
		
		<h2>Q9: HOW CAN CONTACT YOU?</h2>
		
		<p>Phone: +256-0782-300050</p>

		<p>Email: kansspike05@gmail.com</p>
		
	</div>
</div>
	
