<h1>Pricing (Suppliers only)</h1><br/><br/><br/>
<div id="pricing">
	<div id="pro">
		<div class="pro"><h1>Pro (Coming Soon!!!)</h1></div><br/>
		<div class="prodetails">
			<ul class="details">
				<li>Respond to up to 30 alerts per month</li>
				<li>Up to 30 free preferred category alerts straight to your inbox per month</li>
				<li>A 0-1% fee off each listing sold</li>
				<li>List up to 30 listings per month.</li>
				<li>No listing fees</li>
				<li>16.99$ per month</li>
			</ul>
		</div>
	</div><br/>
	<div id="standard">
		<div class="standard"><h1>Standard (Coming Soon!!!)</h1></div><br/>
		<div class="standarddetails">
			<ul class="details">
				<li>Respond to up to 20 alerts per month</li>
				<li>Up to 20 free preferred category alerts straight to your inbox per month</li>
				<li>List up to 20 listings per month</li>
				<li>No listing fees</li>
				<li>A 0-2% fee off each listing sold</li>
				<li>13.99$ per month</li>
			</ul>
		</div>
	</div><br/>
	<div id="basic">
		<div class="basic"><h1>Basic (Available!!!)</h1></div><br/>
		<div class="basicdetails">
			<ul class="details">
				<li>Respond to up to 10 alerts per month</li>
				<li>List up to 10 listings per month</li>
				<li>Free of charge</li>
				<li>No listing fees</li>
			</ul>
		</div>
	</div>
</div>


