# encoding: utf-8

<p>Hello <%= @resource.email %>!</p>

<p>Someone has invited you to <%= root_url %>  an online marketplace where users get to invite their favorite local suppliers online. You can accept this invitation through the link below.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Please ignore this email if you don’t want to accept this invitation.<br />
Your account won't be created until you access the link above and set your password.</p>
